{% extends "base.html" %}
{%block content%}
<h1>How to play this game - you will soon see that I have not managed to figure out all the routes!</h1>


<div class="instructions">
    <p>From your local host enter a forward slash followed by player 1 choice,</p>
    <p>then another forward slash followed by player 2 choice</p>
<br>
    <p>Example, if player one choice is rock and player 2 choice is scissors,</p>
    <p>enter http://127.0.0.1:5000/rock/scissors to get your result</p>
</div>
{% endblock %}